name: Check AWS OIDC

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - main
      - 'feat/*'
      - 'release/*'

permissions:
  id-token: write
  contents: read

jobs:
  deploy-dev:
    name: Deploy to Development
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/feat/*'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/${{ vars.AWS_DEPLOY_ROLE_NAME }}
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: github-actions-keysely-platform-dev-${{ github.run_number }}
      - name: Check AWS Identity
        run: aws sts get-caller-identity
